* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
}

.wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1em;

  margin: 1em 0px;
}

.list {
  width: 100%;
}

input,
textarea,
select,
button {
  padding: 4px;
}

th,
td {
  border-left: 0;
  border-right: 0;
}

form#input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form {
  width: 100%;
  max-width: unset;
}

table {
  width: 100%;
  display: table;
}

th {
  text-align: left;
}

#chart td {
  border: 0;
}

#globalStats {
  font-weight: bold;
}

.blueprint {
  display: none;
}

.listRow-summary .deleteEntry {
  display: none;
}

.listRow-summary {
  font-style: italic;
}
